# Ignorer le fichier .env
.env  

# Ignorer les dépendances Node.js
node_modules/

# Ignorer les fichiers de configuration de l'IDE
.idea/
.vscode/

# Ignorer les fichiers de build
dist/ 
build/
TP_backend/
